:host {
    display: block;
    width: 100%;
    overflow: auto;
    transition: 
        transform .3s cubic-bezier(.4, 0, .2, 1),
        opacity .3s cubic-bezier(.4, 0, .2, 1);
    will-change: transform, opacity;

    padding: var(--tabs--content-padding, .75rem);
}
:host([hidden]),[hidden]  { display: none!important; }
* { box-sizing: border-box;}
slot[name="label"] {
    display: none;
}