.category-list {
    .category-list-item {
        @apply before:top-[calc(1.125em-0.1875em)];
    }
    .category-list-link {
        @apply inline-block rounded-full px-3 py-1;
        @apply text-current no-underline;
        .iconfont {
            @apply mr-1;
        }
        .count {
            @apply text-xs;
        }
    }
    a.category-list-link {
        background-color: rgba(255,78,106,.25);
        color: rgba(255,78,106,1);
    }
    .category-list-child .category-list-link {
        background-color: rgba(255,118,30,.25);
        color: rgba(255,118,30,1);
    }
    .category-list-child .category-list-child .category-list-link {
        background-color: rgba(255,185,0,.25);
        color: rgba(255,185,0,1);
    }
    .category-list-child
        .category-list-child
        .category-list-child
        .category-list-link {
        background-color: rgba(51,213,122,.25);
        color: rgba(51,213,122,1);
    }
    .category-list-child
        .category-list-child
        .category-list-child
        .category-list-child
        .category-list-link {
        background-color: rgba(0,219,255,.25);
        color: rgba(0,219,255,1);
    }
    .category-list-child
        .category-list-child
        .category-list-child
        .category-list-child
        .category-list-child
        .category-list-link {
        background-color: rgba(26,152,255,.25);
        color: rgba(26,152,255,1);
    }
    .category-list-child
        .category-list-child
        .category-list-child
        .category-list-child
        .category-list-child
        .category-list-child
        .category-list-link {
        background-color: rgba(144,144,255,.25);
        color: rgba(144,144,255,1);
    }
}
