.post-item {
    @apply relative h-44 md:h-[14.5rem];
    @apply shadow-lg rounded-xl;
    @apply flex flex-row flex-nowrap;
    @apply overflow-hidden;
    @apply transition-[box-shadow,transform] duration-300 scale-100 md:hover:scale-105 md:hover:shadow-2xl; 
    /* transform: scale(1); 解决background层叠上下文的问题 */
    @apply bg-white;
    @apply dark:bg-gray-800;
    .post-cover {
        @apply absolute md:relative;
        @apply flex-none w-full h-full md:w-72;
        @apply z-10 select-none pointer-events-none;
        .cover-img {
            @apply brightness-[.8] md:brightness-100 md:dark:brightness-[.8];
            @apply object-cover h-full w-full;
        }
    }
    .post-info {
        @apply flex-auto flex flex-col flex-nowrap justify-between;
        @apply p-6 md:py-8 md:px-8 w-0;
        @apply z-10 pointer-events-none;
        @apply md:text-gray-800;
        @apply dark:text-gray-200;

        .post-meta {
            @apply flex flex-wrap text-sm gap-x-4 gap-y-1;
            .iconfont {
                @apply mr-1;
            }
            .post-date {
                @apply mr-3;
                @apply inline-flex items-center;
                i {
                    @apply mr-1;
                }
            }
            .post-wordcount,
            .post-readtime {
                @apply shrink truncate mr-3;
                @apply inline-flex items-center;
            }
            .post-wordcount,
            .post-readtime {
                i {
                    @apply mr-1;
                }
            }
        }
        .post-meta-line-1 {
            @apply justify-start;
            .post-date {
                @apply flex-none md:grow;
            }
        }
        .post-meta-line-2 {
            @apply justify-start;
            @apply w-full pt-0.5 pb-1.5 overflow-x-auto;
            @apply pointer-events-auto;
        }
        .post-title {
            @apply truncate text-2xl font-bold;
        }
        .post-excerpt {
            @apply hidden md:line-clamp-2;
            @apply break-all text-ellipsis overflow-hidden text-sm;
        }
    }
    .background {
        @apply absolute inset-0 z-0 overflow-hidden select-none;
        @apply brightness-[.8];
        .background-img, .post-link {
            @apply block absolute inset-0;
        }
    }
    &.left-cover {
        .post-cover {
            @apply order-first;
        }
        .post-info {
            @apply order-last md:pl-5 md:pr-9;
        }
    }
    &.right-cover {
        .post-cover {
            @apply order-last;
        }
        .post-info {
            @apply order-first md:pl-9 md:pr-5;
        }
    }
    &.blur-cover {
        text-shadow: 0 2px 2px rgba(0,0,0,.5);
        .post-cover {
            @apply scale-[1.025];
        }
        .post-info {
            @apply text-white;
        }
        .background {
            @apply bg-gray-500 bg-cover bg-center bg-no-repeat;
            @apply dark:bg-gray-800;
            .background-img {
                @apply scale-[1.2] blur-xl;
                @apply object-cover h-full w-full z-0;
            }
            /* @supports (backdrop-filter: none) {
                &::after {
                    content: " ";
                    @apply absolute inset-0 h-full w-full;
                    backdrop-filter: blur(1.5rem) brightness(0.8);
                }
            }
            @supports not (backdrop-filter: none) {
                width: calc(100% + 3rem);
                height: calc(100% + 3rem);
                margin: -1.5rem;
                .background-img {
                    filter: blur(1.5em) brightness(0.8);
                }
            } */
        }
        @media screen(md) {
            &.left-cover .post-cover{
                clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
            }
            &.right-cover .post-cover {
                clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%);
            }
        }
    }
    &.material-cover {
        text-shadow: 0 2px 2px rgba(0,0,0,.5);
        .post-cover {
            @apply md:w-[30rem] overflow-hidden;
        }
        .post-info {
            @apply relative;
            @apply text-white md:text-gray-800;
            @apply md:dark:text-gray-200;
            .post-meta-line-2 {
                .post-category, .post-tag a {
                    @apply bg-gray-300/50 hover:bg-gray-200;
                    @apply dark:bg-gray-500/50 dark:hover:hover:bg-white;
                }
            }
        }
        @media screen(md) {
            text-shadow: none!important;
            &.left-cover .post-info {
                @apply -ml-48;
                &::before {
                    content: " ";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -9rem;
                    width: calc(21rem + 4px);
                    z-index: -1;
                    background: linear-gradient(
                        to left,
                        rgba(255, 255, 255, 1),
                        ease-in-out,
                        rgba(255, 255, 255, 0)
                    );
                    pointer-events: none;
                    .dark & {
                        background: linear-gradient(
                            to left,
                            rgba(31, 41, 55, 1),
                            ease-in-out,
                            rgba(31, 41, 55, 0)
                        );
                    }
                }
            }
            &.right-cover .post-info {
                @apply -mr-48;
                &::before {
                    content: " ";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -9rem;
                    width: calc(21rem + 4px);
                    z-index: -1;
                    background: linear-gradient(
                        to right,
                        rgba(255, 255, 255, 1),
                        ease-in-out,
                        rgba(255, 255, 255, 0)
                    );
                    pointer-events: none;
                    .dark & {
                        background: linear-gradient(
                            to right,
                            rgba(31, 41, 55, 1),
                            ease-in-out,
                            rgba(31, 41, 55, 0)
                        );
                    }
                }
            }
        }
    }
    &.full-cover {
        text-shadow: 0 2px 2px rgba(0,0,0,.5);
        .post-info {
            @apply text-white;
        }
        .background {
            @apply bg-white bg-cover bg-center bg-no-repeat;
            @apply dark:bg-gray-800;
            .background-img {
                @apply object-cover h-full w-full z-0;
            }
        }
    }
    &.no-cover:not(.no-bg) {
        text-shadow: 0 2px 2px rgba(0,0,0,.5);
        .post-info {
            @apply text-white;
        }
        .background {
            @apply brightness-100 dark:brightness-[.8];
        }
    }
}