.post-item {
    @apply relative h-44 md:h-56;
    @apply shadow-lg rounded-xl;
    @apply flex flex-row flex-nowrap;
    @apply overflow-hidden overflow-ellipsis;
    @apply transition duration-300 scale-100 md:hover:scale-105 md:hover:shadow-2xl; 
    /* transform: scale(1); 解决background层叠上下文的问题 */
    @apply bg-white;
    @apply dark:bg-gray-800;
    .post-cover {
        @apply absolute md:inset-0 md:relative;
        @apply flex-none;
        @apply w-full h-full md:w-72;
        @apply z-10;
        @apply dark:brightness-[.9];
        .cover-img {
            @apply object-cover h-full w-full;
        }
    }
    .post-info {
        @apply flex-auto flex flex-col flex-nowrap justify-between;
        @apply p-6 md:py-8 md:px-8 w-0;
        @apply z-10;
        @apply md:text-gray-800;
        @apply dark:text-gray-200;

        .post-meta {
            @apply flex flex-wrap text-sm gap-x-4 gap-y-1;
            .iconfont {
                @apply mr-1;
            }
            .post-date {
                @apply mr-3;
                @apply inline-flex items-center;
                i {
                    @apply mr-1;
                }
            }
            .post-wordcount,
            .post-readtime {
                @apply flex-shrink truncate mr-3;
                @apply inline-flex items-center;
            }
            .post-wordcount,
            .post-readtime {
                i {
                    @apply mr-1;
                }
            }
        }
        .post-meta-line-1 {
            @apply justify-start;
            .post-date {
                @apply flex-none md:flex-grow;
            }
        }
        .post-meta-line-2 {
            @apply justify-start;
        }
        .post-title {
            @apply truncate text-2xl font-bold;
        }
        .post-excerpt {
            @apply hidden md:line-clamp-2;
            @apply break-all overflow-ellipsis overflow-hidden text-sm;
        }
    }
    &.left-cover {
        .post-cover {
            @apply order-first;
        }
        .post-info {
            @apply order-last md:pl-5 md:pr-9;
        }
    }
    &.right-cover {
        .post-cover {
            @apply order-last;
        }
        .post-info {
            @apply order-first md:pl-9 md:pr-5;
        }
    }
    @media screen(md) {
        &.left-cover.blur-cover .post-cover{
            clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
        }
        &.right-cover.blur-cover .post-cover {
            clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%);
        }
        &.left-cover.material-cover .post-cover {
            mask: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
        }
        &.right-cover.material-cover .post-cover {
            mask: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
        }
        &.material-cover {
            text-shadow: none!important;
        }
    }
    &.blur-cover {
        text-shadow: 0 2px 2px rgba(0,0,0,.5);

        .post-info {
            @apply text-white;
        }
        .background {
            @apply absolute inset-0 z-0 hidden md:block;
            @apply bg-gray-500 bg-cover bg-center bg-no-repeat;
            @apply dark:bg-gray-800;
            .background-img {
                filter: blur(1.5em) brightness(0.8);
                transform: scale(1.2);
                @apply object-cover h-full w-full z-0;
            }
            /* @supports (backdrop-filter: none) {
                &::after {
                    content: " ";
                    @apply absolute inset-0 h-full w-full;
                    backdrop-filter: blur(1.5rem) brightness(0.8);
                }
            }
            @supports not (backdrop-filter: none) {
                width: calc(100% + 3rem);
                height: calc(100% + 3rem);
                margin: -1.5rem;
                .background-img {
                    filter: blur(1.5em) brightness(0.8);
                }
            } */
        }
    }
    &.material-cover {
        text-shadow: 0 2px 2px rgba(0,0,0,.5);
        .post-info {
            @apply transition duration-500;
            @apply text-white;
            @apply md:text-gray-800;
            @apply md:dark:text-gray-200;
        }
        .background {
            @apply absolute inset-0 z-0 hidden md:block;
        }
    }
    &.full-cover {
        text-shadow: 0 2px 2px rgba(0,0,0,.5);
        .post-info {
            @apply text-white;
        }
        .background {
            @apply absolute inset-0 z-0;
            @apply bg-white bg-cover bg-center bg-no-repeat;
            @apply dark:bg-gray-800;
            .background-img {
                @apply object-cover h-full w-full z-0;
                @apply brightness-[.8];
            }
        }
    }
    &.no-cover:not(.no-bg) {
        text-shadow: 0 2px 2px rgba(0,0,0,.5);

        .post-info {
            @apply text-white;
        }
        .background {
            @apply absolute inset-0 z-0;
            @apply dark:brightness-[.8];
        }
    }
}