#site_search {
    @apply w-full h-full flex flex-col;
    .form-group {
        @apply flex-none mt-36 mb-4 h-12;
        @apply rounded-full bg-white flex items-center shadow-lg;
        @apply dark:bg-gray-700 dark:border dark:border-gray-600;
        transition-property: margin-top;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: 500ms;
        #search-input {
            @apply bg-transparent outline-none ml-5 mr-2 text-lg flex-auto;
            @apply dark:text-gray-200;
        }
        #search-btn {
            @apply bg-blue-500 rounded-full text-white h-10 w-10 mr-1 leading-10 shadow flex-none;
            @apply dark:text-gray-800;
        }
    }
    #search-result-wrap {
        @apply flex-1 rounded-lg overflow-hidden;
        /* height: calc(100% - 10rem); */
        #search-result {
            @apply bg-white p-3 rounded-lg overflow-y-auto;
            @apply dark:bg-gray-700 dark:border dark:border-gray-600;
            height: 100%;
            animation: fadeInUp100px 0.5s;
            -webkit-overflow-scrolling: touch;
            .search-result-list {
                @apply space-y-3;
            }
            .search-result-link {
                @apply block bg-blue-100 p-3 rounded-lg text-gray-700 transition hover:bg-blue-500 hover:text-gray-50;
                @apply dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-blue-500 dark:hover:text-gray-800;
            }
            .search-result-title {
                @apply truncate text-lg font-bold block;
            }
            .search-result-digest {
                @apply block text-sm overflow-ellipsis;
                overflow-wrap: break-word;
            }
            .no-result {
                @apply block w-full py-14 text-center text-xl text-gray-500;
            }
        }
    }
}

#site_search.searched .form-group {
    @apply mt-16;
}

#search-modal {
    --modal--background: none;
    --modal--border-radius: 0;
    --modal--box-shadow: none;
    /* --modal--close-text-color: #E5E7EB; */
    --modal--width: min(40rem, 100%);
    --modal--height: 100%;
}