.tag-cloud {
    .tags {
        @apply flex flex-wrap flex-row pl-2;
        a {
            @apply inline-block	rounded shadow-lg mr-1.25 mb-1.25 overflow-hidden;
            @apply text-gray-600 px-2 text-xs h-6.5 leading-6.5;
            box-shadow: 0 5px 8px 0 rgba(31, 45, 61, 0.1);
            background-color: white;
            transform: translateY(0);
            transition-property: color, box-shadow, background-color, transform;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.15s;
            .tag-heat {
                @apply inline-block -mr-2 ml-2 w-5 h-6.5 text-center;
                transition: inherit;
                .iconfont {
                    @apply text-xs;
                }
            }
            &:hover {
                box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.35);
                transform: translateY(0.1875rem);
            }
            &.level-0 {
                .tag-heat {
                    color: #409eff;
                    background-color: rgba(64, 158, 255, 0.06);
                }
            }
            &.level-0:hover {
                background-color: #409eff;
                color: white;
                .tag-heat {
                    color: white;
                    background-color: #6cb5ff;
                }
            }
            &.level-1 {
                .tag-heat {
                    color: #13ce66;
                    background-color: rgba(19, 206, 102, 0.06);
                }
            }
            &.level-1:hover {
                background-color: #13ce66;
                color: white;
                .tag-heat {
                    color: white;
                    background-color: #62dd99;
                }
            }
            &.level-2 {
                .tag-heat {
                    color: #ff4949;
                    background-color: rgba(255, 73, 73, 0.06);
                }
            }
            &.level-2:hover {
                background-color: #ff4949;
                color: white;
                .tag-heat {
                    color: white;
                    background-color: #ff6f6f;
                }
            }
        }
    }
}
