.toc-view {
    @apply flex flex-col flex-nowrap;
    @apply overflow-hidden;
    max-height: calc(100% - 1rem);
    .title {
        @apply flex-none;
    }
    .content {
        @apply overflow-x-hidden overflow-y-auto;
        @apply text-sm break-words;
    }
    .toc-link {
        @apply relative block;
        @apply pr-2 py-1;
        @apply text-gray-700;
        @apply bg-white hover:bg-gray-100;
        @apply transition duration-300;
        @apply dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700;
        &::before {
            content: "";
            @apply absolute top-0 bottom-0 left-0;
            @apply w-1.5;
            @apply bg-white;
            @apply dark:bg-gray-800;
            @apply transition duration-300;
        }
        &:hover::before {
            @apply bg-gray-300;
            @apply dark:bg-gray-600;
        }
    }
    .toc-activated > .toc-link {
        @apply text-blue-500;
        @apply bg-blue-400/20;
        @apply dark:text-blue-300;
        &::before {
            @apply bg-blue-400;
        }
    }
    .toc-level-2 .toc-link {
        @apply pl-4;
    }
    .toc-level-3 .toc-link {
        @apply pl-8;
    }
    .toc-level-4 .toc-link {
        @apply pl-12;
    }
    .toc-level-5 .toc-link {
        @apply pl-16;
    }
    .toc-level-6 .toc-link {
        @apply pl-20;
    }
}
