:host {
    display: block;
}
:host([hidden]),[hidden]  { display: none!important; }
* { box-sizing: border-box; }
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21,21,21,.5);
    transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
}
.overlay.closed {
    opacity: 0;
}