@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

@import "./base/base";

@import "./layout/partial/header";
@import "./layout/partial/footer";
@import "./layout/partial/sidebar";
@import "./layout/partial/comments";
@import "./layout/partial/navigator";
@import "./layout/partial/paginator";

@import "./layout/widget/post_item";
@import "./layout/widget/profile";
@import "./layout/widget/tag_cloud";
@import "./layout/widget/category_tree";
@import "./layout/widget/toc_view";
@import "./layout/widget/search";
@import "./layout/widget/tag_list";
@import "./layout/widget/category_list";
@import "./layout/widget/timeline";

@import "./layout/friends";

@import "./components/drawer";
@import "./components/collapse";
@import "./components/menu";
