:root {
    @apply text-base;
}
body {
    @apply bg-[#f5f5fa];
    @apply dark:bg-gray-900;
}
button:focus {
    outline: none;
}
#main {
    #content {
        @apply z-10 m-1 md:m-4;
    }
    #sidebar {
        @apply z-0;
    }
}
/* :root {
    color-scheme: light dark;
}
iframe {
    color-scheme: light;
} */
.page,
.post {
    @apply bg-white rounded-2xl shadow-lg py-6 px-4 md:p-8 prose max-w-none mb-4 break-words;
    @apply dark:bg-gray-800  dark:prose-dark;
}
.prev-next {
    @apply flex flex-nowrap space-x-6 mb-4;
    .prev,
    .next,
    .blank {
        @apply flex-1 text-white p-4 bg-center bg-no-repeat bg-cover rounded-xl shadow-lg transition transform hover:scale-105;
        .deixis {
            @apply block text-sm;
        }
        .title {
            @apply block text-xl font-bold;
        }
    }
    .prev {
        @apply text-left;
    }
    .next {
        @apply text-right;
    }
    .blank {
        @apply shadow-none;
    }
    .no-cover {
        @apply text-gray-700 bg-white;
    }
}
.highlight {
    @apply relative overflow-hidden rounded-xl bg-gray-700;
    table,
    tbody {
        @apply block;
    }
    tr {
        @apply flex flex-row flex-nowrap;
    }
    .gutter {
        @apply flex-none p-0 select-none;
        pre {
            @apply text-gray-400 text-right;
        }
    }
    .code {
        @apply flex-auto overflow-x-auto p-0;
        -webkit-overflow-scrolling: touch;
        pre {
            @apply pl-0;
        }
    }
    pre {
        @apply m-0 rounded-none text-sm;
    }
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    border-radius: 5px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #f90;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2) 1rem,
        transparent 1rem,
        transparent 2rem
    );
    border: 2px solid #fff;
}
::-webkit-scrollbar-track-piece {
    border-radius: 5px;
}

body *::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}
body *::-webkit-scrollbar {
    width: 6px; /*滚动条的宽度*/
    height: 4px; /*滚动条的高度*/
}
body *::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, .3);
    background-image: none;
    border: 0;
}
body *::-webkit-scrollbar-thumb:horizontal {
    /*水平滚动条的样式*/
    /* background-color: #cccccc; */
}
body *::-webkit-scrollbar-thumb:vertical {
    /*垂直滚动条的样式*/
    /* background-color: #999; */
}
body *::-webkit-scrollbar-thumb:hover {
    /*滚动条的hover样式*/
    background-color: rgba(144, 144, 144, 0.5);
}

.bg-gradient-0 {
    background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);
}
.bg-gradient-1 {
    background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
}
.bg-gradient-2 {
    background-image: linear-gradient(135deg, #e2b0ff 10%, #9f44d3 100%);
}
.bg-gradient-3 {
    background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
}
.bg-gradient-4 {
    background-image: linear-gradient(135deg, #ffaa85 10%, #b3315f 100%);
}
.bg-gradient-5 {
    background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
}
.bg-gradient-6 {
    background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
}
.bg-gradient-7 {
    background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
}
.bg-gradient-8 {
    background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}
.bg-gradient-9 {
    background-image: linear-gradient(135deg, #fec163 10%, #de4313 100%);
}
