:root {
    @apply text-base antialiased;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
body {
    @apply bg-[#f5f5fa];
    @apply dark:bg-gray-900;
}
*:focus {
    @apply outline-none;
}
*[hidden] {
    @apply !hidden;
}
#main {
    @apply flex flex-row flex-nowrap w-full lg:max-w-[67rem] xl:max-w-[69rem] 2xl:max-w-[71rem] mx-auto;
    #content {
        @apply flex-1 min-w-0 z-10 m-2 md:m-4;
        .recent-posts {
            @apply space-y-3 md:space-y-7;
        }
    }
    #sidebar {
        @apply z-0;
    }
}
/* :root {
    color-scheme: light dark;
}
iframe {
    color-scheme: light;
} */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    border-radius: 5px;
    @apply dark:bg-gray-700;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #f90;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2) 1rem,
        transparent 1rem,
        transparent 2rem
    );
    border: 2px solid #fff;
    @apply dark:border-gray-800 dark:bg-blue-500;
}
::-webkit-scrollbar-track-piece {
    border-radius: 5px;
}

body *::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
    @apply dark:bg-transparent;
}
body *::-webkit-scrollbar {
    width: 6px; /*滚动条的宽度*/
    height: 4px; /*滚动条的高度*/
}
body *::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, .3);
    background-image: none;
    border: none;
    @apply dark:bg-white/30;
}
body *::-webkit-scrollbar-thumb:horizontal {
    /*水平滚动条的样式*/
    /* background-color: #cccccc; */
}
body *::-webkit-scrollbar-thumb:vertical {
    /*垂直滚动条的样式*/
    /* background-color: #999; */
}
body *::-webkit-scrollbar-thumb:hover {
    /*滚动条的hover样式*/
    background-color: rgba(144, 144, 144, 0.5);
}
body *::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* FireFox ScrollBar Thin Style */
*, ::before, ::after {
    scrollbar-width: thin;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

.bg-gradient-0 {
    background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);
}
.bg-gradient-1 {
    background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
}
.bg-gradient-2 {
    background-image: linear-gradient(135deg, #e2b0ff 10%, #9f44d3 100%);
}
.bg-gradient-3 {
    background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
}
.bg-gradient-4 {
    background-image: linear-gradient(135deg, #ffaa85 10%, #b3315f 100%);
}
.bg-gradient-5 {
    background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
}
.bg-gradient-6 {
    background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
}
.bg-gradient-7 {
    background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
}
.bg-gradient-8 {
    background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}
.bg-gradient-9 {
    background-image: linear-gradient(135deg, #fec163 10%, #de4313 100%);
}

@keyframes slideUpIn {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideDownIn {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideUpOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100px);
    }
}
@keyframes slideDownOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-in {
    animation: fadeIn .8s both;
}
.slide-up-in {
    animation: slideUpIn .8s both;
}
.slide-down-in {
    animation: slideDownIn .8s both;
}
.slide-up-fade-in {
    animation: slideUpIn .8s, fadeIn .8s;
}
.slide-down-fade-in {
    animation: slideDownIn .8s, fadeIn .8s;
}
.fade-out {
    animation: fadeOut .4s both;
}
.slide-up-out {
    animation: slideUpOut .4s both;
}
.slide-down-out {
    animation: slideDownOut .4s both;
}
.slide-up-fade-out {
    animation: slideUpOut .4s, fadeOut .4s;
}
.slide-down-fade-out {
    animation: slideDownOut .4s, fadeOut .4s;
}



kbd {
    @apply inline-block rounded min-w-[24px] bg-gradient-to-tl from-[#f5f5fa] to-[#d6d6e7]/60 border-[#d6d6e7] border-b-2 text-slate-600 shadow-[0_4px_11px_0_rgba(37,44,97,.15),0_1px_3px_0_rgba(93,100,148,.6)] cursor-pointer;
    @apply active:border-b active:shadow-[0_4px_5px_0_rgba(37,44,97,.15),0_1px_1px_0_rgba(93,100,148,.6)] active:translate-y-[1px];
    @apply dark:text-white dark:bg-slate-800 dark:border-slate-800 dark:from-slate-700 dark:to-slate-800/60 dark:shadow-[0_4px_11px_0_rgba(0,0,0,.4),0_1px_3px_0_rgba(0,0,0,.25)];
    @apply dark:active:shadow-[0_4px_5px_0_rgba(0,0,0,.2),0_1px_1px_0_rgba(0,0,0,.15)];
    &>span {
        @apply text-[10px] block w-full h-[20px] py-[2px] px-[4px] rounded border-t border-l border-r border-white leading-none;
        @apply dark:border-slate-600;
    }
}