:root {
    --tabs--header-background: rgba(117,147,189,.14);
    --tabs--tab-hover-background: rgba(255,255,255,.35);
    --tabs--content-background: #fff;
    --tabs--slider-box-shadow: rgba(0, 16, 46, 0.15) 0px 2px 3px;
    --list--item-active-text-color: #3B82F6;

    --collapse--header-background: #fff;
    --collapse--content-background: #fff;
    app-collapse-group {
        >app-collapse:first-child {
            --collapse--header-border-radius: .5rem .5rem 0 0;
        }
        >app-collapse:last-child:not([open]) {
            --collapse--header-border-radius: 0 0 .5rem .5rem;
        }
    }
    --drawer--background: #fff;

    #sidebar, #drawer-right {
        --tabs--header-background: rgba(117,147,189,.2);
        --tabs--header-height: 2.5rem;
        --tabs--header-margin: 0.75rem;
        --tabs--slider-height: 2rem;
        --tabs--content-padding: 0 0.75rem 0.75rem 0.75rem;
        --tabs--content-margin: 0;
        --tabs--content-background: transparent;

        --list--item-active-text-color: #3B82F6;
    }

    .navigator app-popover {

        app-list>*:last-child {
            --list--item-border-radius: 0 0 .5rem .5rem;
        }
        app-list>*:first-child {
            --list--item-border-radius: .5rem .5rem 0 0;
        }
        app-list>*:not(:first-child):not(:last-child) {
            --list--item-border-radius: 0;
        }
    }
    .navigator .nav-menu-item>app-popover {
        @apply block px-4 h-16 text-lg font-bold leading-[4rem];
        position: relative;
        z-index: 20;
    }

}

.dark:root {
    --tabs--header-background: #374151;
    --tabs--tab-hover-background: rgba(255,255,255,.05);
    --tabs--slider-background: #4B5563;
    --tabs--content-background: #374151;

    --list--item-background: #374151;
    --list--item-active-text-color: #93C5FD;

    --collapse--header-background: #374151;
    --collapse--border-color: #4B5563;
    --collapse--content-background: #374151;

    --drawer--background: #111827;

    --modal--close-background: #374151;
    --modal--close-text-color: #E5E7EB;

    #drawer-left {
        --list--item-background: #111827;
        --drawer-overlay-background: rgba(21,21,21,.7);
    }

    #sidebar, #drawer-right {
        --tabs--header-background: #1F2937;
        --tabs--slider-background: #374151;

        --list--item-background: #1F2937;
        --list--item-active-text-color: #93C5FD;

        --drawer-overlay-background: rgba(21,21,21,.7);
    }
    .navigator app-popover {
        --list--item-text-color: #E5E7EB;
    }
}


#drawer-left, #drawer-right {
    @apply text-gray-900 dark:text-gray-100;
}


