<div class="py-8 px-4 mx-auto max-w-screen-xl h-[calc(100vh_-_6rem)] lg:py-16 lg:px-6 flex items-center justify-center">
  <div class="max-w-screen-sm text-center flex flex-col items-center justify-center">
    <% if (page.image) { %>
      <img src="<%- url_for(page.image) %>" class="mb-4 mx-auto max-w-[16rem]" alt="404" loading="eager">
    <% } else { %>
      <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>
    <% } %>
    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white"><%- page.title || '未找到该页面' %></p>
    <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400"><%- page.content || '十分抱歉，该页面不存在。您可以在主页上浏览其他的内容。' %></p>
    <% if (isUndefined(page.button) || (isBoolean(page.button) && page.button === true)) { %>
      <a href="<%= url_for("/") %>" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">返回主页面</a>
      <button class="goback font-medium text-sm text-primary-600 dark:text-primary-500">或返回上一页</button>
    <% } %>
  </div>
</div>
