<% if( page.layout=='category' ) { %>
<article class="page">
<h1>全部分类</h1>
<%- partial('./_widget/category_list') %>
</article>
<% } else { %>
<%-partial('./_partial/recent-posts')%>
<%-partial('./_partial/paginator')%>
<% } %>