<% if( page.layout=='tag' ) { %>
<article class="page">
  <h1><i class="iconfont icon-tag"></i> • 全部标签</h1>
  <%- partial('./_widget/tag_list') %>
</article>
<% } else { %> <%-partial('./_partial/recent-posts')%>
<%-partial('./_partial/paginator')%> <% } %>
