<% let hierarchy_categories = (depth=0, parent) => { %>
    <% let cur_cats = site.categories.find({parent:parent}).sort({length: -1,name:1}).filter(cat=>cat.length); %>
    <% if(cur_cats.length!=0) { %>
        <% if(depth==0) { %> 
        <ul class="category-list">
        <% } else { %> 
        <ul class="category-list-child">
        <% } %> 
        <% cur_cats.each(cat => { %>
            <li class="category-list-item">
                <a class="category-list-link" href="<%= url_for(cat.path) %>">
                    <i class="ri-quill-pen-fill"></i>
                    <span class="name"><%= cat.name %></span>
                    <span class="count">(<%= cat.length %>)</span>
                    <% if(site.categories.find({parent:cat._id}).length!=0) { %>
                        <span class="arrow"><i class="iconfont icon-arrow-down"></i></span>
                    <% } %> 
                </a>
                <% hierarchy_categories(depth+1, cat._id); %>
            </li>
        <% }) %>
        </ul>
    <% }
}%>

<div class="category-list">
    <%- hierarchy_categories() %> 
    <%#- list_categories({
        orderby: 'length:-1',
        transform(str) { 
            return '<i class="iconfont icon-folder"></i>'+str;
        }
    }) 
    %> 
</div>