<div class="float-toolbar float-toolbar-hidden">
    <div class="back-to-top">
        <button class="toolbar-btn" id="back-to-top-btn"><i class="ri-arrow-up-line"></i></button>
    </div>
    <% if(!is_home() && !is_archive() && !(is_category() || page.layout=='category') && !(is_tag() || page.layout=='tag') && page.comments !== false) { %> 
    <div class="go-to-comment">
        <button class="toolbar-btn" id="go-to-comment-btn"><i class="ri-message-2-line"></i></button>
    </div>
    <% } %>
</div>