<div class="float-toolbar float-toolbar-hidden">
    <div class="back-to-top">
        <button class="toolbar-btn" id="back-to-top-btn"
            data-tippy-content="回到顶部" 
            data-tippy-placement="left"
            data-tippy-appendTo="parent"
        ><i class="ri-arrow-up-line"></i></button>
    </div>
    <% if(!is_home() && !is_archive() && !(is_category() || page.layout=='category') && !(is_tag() || page.layout=='tag') && page.comments !== false) { %> 
    <div class="go-to-commit">
        <button class="toolbar-btn" id="go-to-commit-btn"
            data-tippy-content="评论区直达"
            data-tippy-placement="left"
            data-tippy-appendTo="parent"
        ><i class="ri-message-2-line"></i></button>
    </div>
    <% } %>
</div>