<% if (theme.navigator.search&&config.search) { %>
<% 
    let search_path = config.search.path;
    if (search_path.length == 0) {
        search_path = 'search.xml';
    }
    search_path = url_for(search_path);
%>
<template id="site_search_template">
    <div id="site_search">
        <div class="form-group">
            <input type="search" id="search-input" name="q" placeholder="输入点什么吧~" autocomplete="off" class="">
            <button id="search-btn"><i class="ri-search-line"></i></button>
        </div>
        <div id="search-result-wrap"></div>
    </div>
</template>
<%- js('/js/search.js') %>
<script type="text/javascript">LocalSearch.setPath('<%= search_path %>');</script>
<% } %>