<%#  
传入参数
maxCount限制标签数量
%>
<div class="tag-cloud card card-noframe">
    <div class="title"><span>标签云</span></div>
    <div class="content">
        <div class="tags">
            <% let tags=site.tags.sort({length: -1,name:1}); %>
            <% if(maxCount>0) tags=tags.limit(maxCount); %>
            <% tags.each(tag => { %>
                <% let heat=getTagHeat(tag); %> 
                <a class="tag level-<%= heat %>" href="<%= url_for(tag.path) %>">
                    <span class="tag-name"><%= tag.name %></span>
                    <span class="tag-heat">
                    <% if(heat==0){ %>
                        <i class="iconfont icon-snow"></i>
                    <% } else if(heat==1){ %>
                        <i class="iconfont icon-seedling"></i>
                    <% } else if(heat==2){ %>
                        <i class="iconfont icon-fire"></i>
                    <% } %>
                    </span>
                </a>
            <% }) %> 
        </div>
    </div>
</div>
