<% let realcontent = (page.encrypt == true) ? page.origin : page.content; %>
<% if (realcontent && toc(realcontent).length > 0) { %>
<div class="toc-view">
    <!-- <div class="title"><span>文章目录</span></div> -->
    <section class="content" <% if (page.encrypt == true) { %>style="display:none"<% } %>>
        <%- toc(realcontent, {
            list_number: true,
            min_depth: 2,
            max_depth: 6
        }) %>
    </section>
</div>
<% } else { %>
<div class="toc-view">
    <span class="text-center py-8 text-gray-400">这篇文章没有目录哟~</span>
</div>
<% } %> 
