:host {
    display: block;
}
:host([hidden]),[hidden]  { display: none!important; }
* { box-sizing: border-box; }
.body {
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body .container {
    position: absolute;
    max-width: 36rem;
    background: #fff;
    border-radius: 1rem;
    transition:
        transform .3s cubic-bezier(.4, 0, .2, 1),
        opacity .3s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 
        0 0.1875rem 0.4375rem 0.1875rem rgba(3,3,3,.13),
        0 0.6875rem 1.5rem 1rem rgba(3,3,3,.12);
}
.body .container .content {
    padding: 1.5rem;
}
.body .container .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.5rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.body.closed .container {
    transform: scale(0.5);
    opacity: 0;
}