.navigator {
    @apply fixed w-full h-16 z-40 top-0 shadow-sm text-gray-700;
    backdrop-filter: blur(10px);
    transition-property: top, background-color, color, box-shadow backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms;
    will-change: backdrop-filter;
    @supports (backdrop-filter: none){
        background-color: rgba(255,255,255,0.7);
    }
    @supports not (backdrop-filter: none){
        background-color: rgba(255,255,255,0.9);
    }
    .nav-menu-item>.link:hover {
        background-color: rgba(255,255,255,0.8);
    }
    .content {
        @apply max-w-5xl m-auto h-16 flex flex-nowrap items-center;
        transition: max-width .5s;
        .logo{
            @apply px-5 -ml-8;
            a {
                @apply flex flex-nowrap h-16 leading-16 items-center;
                img {
                    @apply h-10;
                }
                span {
                    @apply text-lg ml-2;
                }
            }
        }
        .menu {
            @apply h-16 flex-1;
            .nav-menu-list {
                @apply flex flex-nowrap items-center;
                .nav-menu-item>.link {
                    @apply block px-4 h-16 leading-16;
                }
                .tippy-content {
                    @apply p-0;
                }
                /* &>.nav-menu-item>.menu-list {
                    @apply left-0 top-full;
                } */
            }
        }
        .toolkit {
            @apply px-5 -mr-8 ;
            .search {
                @apply w-10 h-10 rounded-full bg-blue-400 outline-none text-white;
            }
        }
    }
}
.navigator.nav-hide {
    @apply -top-16;
}
.navigator.nav-top {
    @apply shadow-none text-gray-100;
    backdrop-filter: blur(0px);
    background-color: transparent;
    .nav-menu-item>.link:hover {
        background-color: rgba(255,255,255,0.2)!important;
    }
    .content {
        max-width:calc(100% - 16rem);
    }
}

.menu-list {
    /* @apply absolute border left-full top-0 py-2 bg-white rounded-lg shadow-xl; */
    @apply  py-2;
    min-width: 9rem;
}
.menu-item a {
    @apply inline-block w-full h-full px-4 py-1.5 hover:bg-gray-100;
}
.menu-divider {
    @apply border-b my-1;
}
.menu-item {
    @apply relative;
}
