.post-item {
    @apply relative h-56;
    @apply shadow-lg rounded-lg;
    @apply flex flex-row flex-nowrap;
    @apply text-white overflow-hidden overflow-ellipsis;
    transform: scale(1); /*解决background层叠上下文的问题*/
    .post-cover {
        @apply flex-none;
        @apply w-72;
        @apply z-50;
        .cover-img {
            @apply object-cover h-full w-full;
        }
    }
    .post-info {
        @apply flex-auto flex flex-col flex-nowrap justify-between;
        @apply py-12 px-9 w-0;
        @apply z-50;
        text-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
        .post-meta {
            @apply flex flex-nowrap justify-between text-sm;
            .iconfont {
                @apply mr-1;
            }
            .post-date {
                @apply flex-shrink-0 flex-grow;
            }
            .post-category {
                @apply flex-grow-0 flex-shrink truncate ml-3;
            }
            .post-tag{
                @apply flex-grow-0 flex-shrink truncate ml-3;
                span {
                    @apply mx-1;
                }
            }
        }
        .post-title {
            @apply truncate text-2xl font-bold;
        }
        .post-excerpt {
            @apply break-all leading-6 h-12 overflow-ellipsis overflow-hidden text-sm;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    &.left-cover {
        .post-cover {
            @apply order-first;
            clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
        }
        .post-info {
            @apply order-last pl-5 pr-9;
        }
    }
    &.right-cover {
        .post-cover {
            @apply order-last;
            clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%);
        }
        .post-info {
            @apply order-first pl-9 pr-5;
        }
    }
    &.left-cover, &.right-cover {
        .background {
            @apply absolute inset-0 z-0;
            @apply bg-indigo-700 bg-cover bg-center bg-no-repeat;
            .background-img {
                @apply object-cover h-full w-full z-0;
            }
            @supports (backdrop-filter: none) {
                &::after {
                    content: " ";
                    @apply absolute inset-0 h-full w-full;
                    backdrop-filter: blur(1.5rem) brightness(0.8);
                }
            }
            @supports not (backdrop-filter: none) {
                width: calc(100% + 3rem);
                height: calc(100% + 3rem);
                margin: -1.5rem;
                .background-img {
                    filter: blur(1.5em) brightness(0.8);
                }
            }
        }
    }
    &.fill-cover {
        .background {
            @apply absolute inset-0 z-0;
            @apply bg-indigo-700 bg-cover bg-center bg-no-repeat;
            .background-img {
                @apply object-cover h-full w-full z-0;
                filter: brightness(0.8);
            }
        }
    }
    &.no-cover {
        .background {
            @apply absolute inset-0 z-0 bg-indigo-700;
        }
    }
}