<% if ((is_home() || is_archive() || is_tag() || is_category()) && page.posts.length > 0) { %>
  <div class="recent-posts">
    <%# console.log(page.posts.length) %>
    <% page.posts.sort('date', -1).each((post, index) => { %>
      <%- partial('../_widgets/post_item',{post,index}) %>
    <% }); %>
  </div>
<% } %>
