<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.css">
<script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js" defer></script>
<div class="loading" style="visibility: hidden;">
    <!-- <div class="spinner-wrapper">
        <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
    </div> -->
    <div class="indicator-wrapper absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <img
        class="loading-image nolazyload"
        src="<%- url_for(theme.loading.image.src) %>"
        style="
            width: <%- theme.loading.image.width %>;
            height: <%- theme.loading.image.height %>;
        ",
        alt="loading">
        <span class="block text-center text-lg my-4 text-gray-800 dark:text-gray-200"><%= theme.loading.text %></span>
    </div>
</div>