<div id="paginator">
  <div class="paginator-group">
    <% let start_size=10,end_size=10,mid_size=2
    
    %> 
    <%-paginator({
      prev_text: '<i class="ri-arrow-left-s-line"></i>',
      next_text: '<i class="ri-arrow-right-s-line"></i>',
      escape: false,
      show_all: page.total<=8?true:false,
      end_size: 1,
      mid_size: (() => {
        // console.log(page.current)
        if(mid_size*2+1>=start_size) return mid_size;
        if(page.current-1<=mid_size+1) return start_size-page.current;
        if(page.total-page.current-1<mid_size+1) return end_size-(page.total-page.current);
        else return mid_size;
      })()
    })%>
  </div>
</div>