:host {
    display: block;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
:host([hidden]),[hidden]  { display: none!important; }
* { box-sizing: border-box; }
::slotted(app-collapse:first-child) {
    border-radius: .5rem .5rem 0 0;
}
::slotted(app-collapse:last-child) {
    border-bottom: none !important;
    border-radius: 0 0 .5rem .5rem;
}
::slotted(app-collapse) {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--collapse--border-color, rgba(0,0,0,.12)) !important;
    box-shadow: none;
}