<%# 文章分类 %>
<%_ if(post.categories.length>0) { _%>
<div class="post-category">
    <i class="ri-quill-pen-fill"></i>
    <%_ let cat_cnt=0; post.categories.each(category=>{ cat_cnt++; _%>
    <a href="<%= url_for(category.path) %>"><%= category.name %></a>
    <%_ if(cat_cnt!=post.categories.length) { _%>
    <i class="ri-arrow-right-s-line"></i>
    <%_ } _%>
    <%_ }) _%>
</div>
<%_ } _%>