.search-modal {
    @apply items-center;
    .modal-panel {
        @apply sm:max-w-3xl;
    }
    .modal-body {
        @apply p-0 border-t border-gray-200 dark:border-t-0;
    }
}

#algolia-search-panel, #local-search-panel {
    @apply w-full h-full flex flex-col justify-between bg-white overflow-hidden;
    @apply bg-gray-50 dark:bg-gray-700 dark:text-gray-100;
    #algolia-searchbox, #local-searchbox {
        @apply z-10 flex items-center flex-none h-[72px];
    }
    #algolia-search-result-wrap, #local-search-result-wrap {
        @apply z-0 flex-auto overflow-hidden flex flex-col;
        #algolia-search-result, #local-search-result {
            @apply border-t border-gray-200 dark:border-gray-600;
            @apply z-0 flex-auto overflow-y-auto bg-gray-100 px-2 md:px-4;
            @apply dark:bg-gray-700;
            #algolia-meta, #local-meta {
                @apply flex justify-between items-center pt-4 text-sm;
            }
            #algolia-hits, #local-hits {
                @apply py-2 md:py-4;
            }
        }
        #algolia-footer, #local-footer {
            @apply z-10 flex-none p-[16px] border-t border-gray-200 dark:border-gray-600;
        }
    }
    
    article a {
        @apply flex w-full h-24 p-2 bg-white shadow rounded-md;
        @apply dark:bg-gray-800 dark:shadow-gray-800/50;
        .post-thumbnail {
            @apply flex-none text-center w-20 h-20 flex justify-center items-center;
            img {
                @apply block object-cover rounded w-full h-full;
            }
            .icon {
                @apply text-[1.25rem];
            }
        }
        .post-content {
            @apply flex-1 text-left min-w-0 flex flex-col justify-between items-start p-1 pl-4 overflow-hidden;
            .post-date,
            .post-meta {
                @apply truncate text-xs leading-5 font-semibold bg-gray-100 text-gray-600 rounded-full py-0 px-2;
                @apply dark:bg-gray-600 dark:text-gray-300;
            }
            .post-title {
                @apply font-bold text-base w-full truncate;
            }
            .post-excerpt {
                @apply text-sm w-full truncate;
            }
        }
        .enter-icon {
            @apply hidden md:block mx-4 h-20 leading-[5rem] text-[1.25rem] text-center;
        }
        &:hover {
            @apply bg-indigo-500 text-white shadow-md shadow-indigo-800/10;
            .post-content {
                .post-date {
                    @apply bg-indigo-400 text-indigo-100;
                }
            }
            mark {
                @apply bg-white;
            }
        }
    }
    .ais-SearchBox, .local-SearchBox {
        @apply w-full h-full;
        .ais-SearchBox-form, .local-SearchBox-form {
            @apply flex items-center w-full h-full px-2;
            .ais-SearchBox-submit, .local-SearchBox-submit {
                @apply order-1 h-[38px] w-[38px] rounded-lg mx-2 text-indigo-400 cursor-pointer;
                @apply flex justify-center items-center;

                .ais-SearchBox-submitIcon, .local-SearchBox-submitIcon{
                    @apply text-[28px] rounded-full;
                }
            }
            .ais-SearchBox-input, .local-SearchBox-input {
                @apply order-2 flex-1 h-10 w-full rounded bg-transparent text-gray-400 placeholder-gray-400 truncate text-base sm:text-2xl caret-indigo-400 leading-none transition-colors duration-200;
                @apply dark:text-gray-400;
            }

            .ais-SearchBox-loadingIndicator {
                @apply order-3 text-indigo-600 dark:text-indigo-400 w-[56px];
                @apply flex justify-center items-center;
                @apply animate-spin;
                .ais-SearchBox-loadingIcon {
                    @apply flex-none w-6 h-6 text-2xl leading-none;
                }
            }
            .ais-SearchBox-reset, .local-SearchBox-reset{
                @apply order-4 h-[24px] w-[24px] mx-[8px] text-gray-500/75 hover:text-gray-700/75 cursor-pointer rounded-lg;
                @apply flex justify-center items-center;
                @apply dark:text-gray-400;
                .ais-SearchBox-resetIcon, .local-SearchBox-resetIcon {
                    @apply text-[24px];
                }
            }
        }
    }
    mark {
        font-weight: 700;
        background-color: rgba(84, 104, 255, 0.1);
        color: #5468ff;
        border-radius: 3px;
        padding: 0 3px;
        margin: 0 3px;
        @apply dark:bg-[rgb(143,156,255,0.2)];
    }

    .ais-Hits-list, .ais-InfiniteHits-list, .local-Hits-list {
        list-style: none;
        padding: 0;
        @apply space-y-1.5 md:space-y-3;
    }

    .ais-InfiniteHits-loadMore {
        display: block;
        height: 32px;
        padding: 0 16px;
        margin: 12px auto;
        background-image: linear-gradient(180deg,#7c90ff,#5468ff);
        font-size: 12px;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 11px 0 rgba(37,44,97,.15),0 2px 3px 0 rgba(93,100,148,.2);
        transition: all .2s ease-out
    }

    .ais-InfiniteHits-loadMore:hover {
        box-shadow: 0 8px 11px 0 rgba(37,44,97,.15),0 4px 6px 0 rgba(93,100,148,.2)
    }
    .ais-InfiniteHits-loadMore--disabled {
        display: none;
    }
    .ais-InfiniteHits--empty {
        @apply text-center;
    }
    .ais-Pagination {
        display: flex;
        justify-content: center;
        margin: 12px 0;
    }

    .ais-Pagination-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    .ais-Pagination-item {
        display: block;
        margin: 2px;
        background-image: linear-gradient(180deg,#fff,#f5f5fa);
        color: #21243d;
        border-radius: 4px;
        box-shadow: 0 4px 11px 0 rgba(37,44,97,.15),0 2px 3px 0 rgba(93,100,148,.2);
        transition: all .2s ease-out;
        @at-root {
            & {
                color: #fff;
                background-image: linear-gradient(180deg,#526989,#242f42);
            }
        }
    }

    .ais-Pagination-item--selected {
        background-image: linear-gradient(180deg,#7c90ff,#5468ff)!important;
        color: #fff
    }

    .ais-Pagination-item:hover {
        box-shadow: 0 8px 11px 0 rgba(37,44,97,.15),0 4px 6px 0 rgba(93,100,148,.2)
    }
    .ais-Pagination-link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: inherit;
        width: 32px;
        height: 32px;
        text-decoration: none;
        font-size: 12px
    }

    .ais-HitsPerPage-select,.ais-SortBy-select {
        width: 100%;
        height: 100%;
        padding: 8px 0;
        background-color: transparent;
        appearance: none;
        line-height: 16px;
        font-size: 12px;
        color: inherit;
        cursor: pointer
    }

}