body,.v-application{
    background: #f5f5fa!important;
}
button:focus {
    outline: none;
  }
.page,.post {
    @apply bg-white rounded-2xl shadow-lg p-8 prose max-w-none;
}
.highlight {
    @apply overflow-hidden rounded-xl bg-gray-800;
    table,tbody {
        @apply block;
    }
    tr {
        @apply flex flex-row flex-nowrap;
    }
    .gutter {
        @apply flex-none p-0 select-none ;
        pre {
            @apply text-gray-400 text-right;
        }
    }
    .code {
        @apply flex-auto overflow-x-auto p-0;
        pre {
            @apply pl-0;
        }
    }
    pre {
        @apply m-0 rounded-none text-sm;
    }
}