#header {
    @apply mb-8;
    position: relative;
    .cover {
        @apply flex justify-center items-center;
        position: relative;
        overflow: hidden;
        .content {
            @apply py-16;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title {
                color: white;
                font-size: 3rem;
                font-weight: bold;
                text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.26);
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            .description {
                color: #141f2c;
                font-size: 0.875rem;
                background-color: rgba(255, 255, 255, 0.95);
                padding: 0.25rem;
                box-shadow: -4px -4px 0px 0px rgba(255, 255, 255, 0.45);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                &:before,
                &:after {
                    content: "•";
                    padding: 0 1rem;
                }
            }
            .meta {
                color: white;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: 0.875rem;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
                * {
                    vertical-align: middle;
                }
            }
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &:after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKUlEQVQImU3IMREAIAgAwJfNkQCEsH8cijjpMf6vnXlQaIiJFx+omEBfmqIEZLe2jzcAAAAASUVORK5CYII=);
            }
        }
        .indicator {
            @apply hidden md:flex;
            position: absolute;
            bottom: 0.5rem;
            color: #fff;
            animation: scroll-down 2s infinite;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span {
                font-size: 1rem;
                line-height: 1.5rem;
            }
            i {
                font-size: 2rem;
                line-height: 1.5rem;
            }
        }
        @keyframes scroll-down {
            0% {
                opacity: 0.8;
                transform: translateY(-0.5rem);
            }
            50% {
                opacity: 0.4;
                transform: translateY(-1.5rem);
            }
            100% {
                opacity: 0.8;
                transform: translateY(-0.5rem);
            }
        }
        .parallax-content {
            .layer {
                width: 100%;
                height: 100%;
                display: flex !important;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .parallax-background {
            .layer {
                position: absolute !important;
                top: -50px !important;
                left: -50px !important;
                bottom: -50px !important;
                right: -50px !important;
                /* width: 100%; */
                /* height: 100%; */
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .cover.home-cover {
        .content {
            .title {
                font-size: 4.5rem;
            }
        }
    }
    .gradient-bottom {
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        box-shadow: inset 0 -72px 20px -44px #f5f5fa;
    }
    .cloud-bottom {
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        background: url(/assets/cloud_border.svg) 50% 2px/688px 60px repeat-x;
        filter: drop-shadow(-10px -6px 0px rgba(255, 255, 255, 0.5));
    }
    .waves-bottom {
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        .waves {
            width: 100%;
            height: 60px;
            margin-bottom: -7px; /*Fix for safari gap*/
            min-height: 60px;
            max-height: 150px;
        }
        /* Animation */
        .parallax > use {
            animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
                infinite;
        }
        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }
        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }
        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }
        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
        @keyframes move-forever {
            0% {
                transform: translate3d(-90px, 0, 0);
            }
            100% {
                transform: translate3d(85px, 0, 0);
            }
        }
    }
}
