.loading {
    @apply fixed inset-0 z-[1000] bg-gray-200/70 dark:bg-gray-800/70;
}
.spinner {
    animation: rotate 2s linear infinite;
    @apply absolute top-1/2 left-1/2 mt-[-25px] ml-[-25px] w-[50px] h-[50px];
    & .path {
        @apply stroke-current text-indigo-500 dark:text-indigo-400;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

#nprogress {
    @apply z-[1010];
    .bar {
        @apply !bg-indigo-500 !h-[4px];
    }
    .peg {
        transform: rotate(3deg) translate(0,-6px) !important;
        box-shadow: 0 0 10px rgb(129, 140, 248), 0 0 5px rgb(129, 140, 248) !important;
    }
}