.loading {
    @apply fixed inset-0 z-[10000] bg-gray-200 dark:bg-gray-800;
}
/* .spinner-wrapper {
    @apply absolute top-1/2 left-1/2 mt-[-25px] ml-[-25px] w-[50px] h-[50px];
    animation: rotate 2s linear infinite;
}
.spinner .path {
    @apply stroke-current text-blue-600 dark:text-blue-500;
    stroke-linecap: round;
    animation: dash 1.25s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
} */

#nprogress {
    @apply z-[11000] fixed;
    .bar {
        @apply !bg-blue-600 !h-[4px] dark:!bg-blue-500;
    }
    .peg {
        transform: rotate(3deg) translate(0,-6px) !important;
        box-shadow: 0 0 10px rgb(129, 140, 248), 0 0 5px rgb(129, 140, 248) !important;
    }
}