.loading {
    @apply fixed inset-0 z-[9999] bg-gray-200/50 dark:bg-gray-800/50;
}
.spinner {
    animation: rotate 2s linear infinite;
    @apply absolute top-1/2 left-1/2 mt-[-25px] ml-[-25px] w-[50px] h-[50px];
    & .path {
        @apply stroke-current text-blue-600 dark:text-blue-400;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}