.navigator {
    @apply fixed w-full h-16 z-40 translate-y-0 text-gray-900;
    @apply dark:text-gray-100;
    @apply transition duration-500;
    /* transition-property: top, height, background-color, color,
                         box-shadow, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms; */
    /* will-change: backdrop-filter; */
    .content {
        @apply w-full lg:max-w-[63rem] xl:max-w-[67rem] 2xl:max-w-[71rem] mx-auto h-full flex flex-nowrap items-center;
        .nav-left-drawer, .nav-right-drawer {
            @apply block md:hidden;
            .drawer-toggle {
                @apply w-14 h-16 text-xl;
            }
        }
        .nav-logo {
            @apply ml-0 px-2 lg:-ml-4 md:px-5;
            a {
                @apply flex flex-nowrap h-16 leading-[4rem] items-center;
                img, svg {
                    @apply h-10;
                    fill: currentColor;
                }
                span, a, p {
                    @apply text-lg ml-2;
                }
            }
        }
        .nav-menu {
            @apply h-16 flex-1;
            font-family: "Noto Serif SC", ui-serif, serif;
            /* font-weight: bold; */
            .nav-menu-list {
                @apply hidden md:flex overflow-x-auto overflow-y-hidden;
                @apply flex-nowrap items-center;
                .nav-menu-item {
                    @apply relative flex-none;
                    >.link {
                        @apply block px-4 h-16 text-lg font-bold leading-[4rem];
                        position: relative;
                        z-index: 20;
                    }
                    &:hover > .link {
                    }
                }
                .nav-menu-item.active-nav::after {
                    content: "";
                    @apply absolute left-1 right-1 bottom-2.5;
                    @apply h-1 rounded-full;
                    background: #20a0ff;
                    background: linear-gradient(#58B7FF 30%,#20a0ff 70%);
                    box-shadow: 0 3px 4px rgba(32,160,255,.6);
                }
            }
        }
        .nav-toolkit {
            @apply mr-0 px-2 lg:-mr-4 md:px-5 space-x-2;
            >button {
                @apply w-10 h-10 rounded-full text-current outline-none bg-gray-400/30;
                i {
                    @apply text-lg leading-10;
                }
            }
        }
    }
}
.navigator.nav-hide {
    @apply md:-translate-y-16 shadow-none border-b border-transparent;
}
.navigator.nav-top {
    @apply shadow-none text-gray-100 backdrop-filter-none bg-transparent border-b border-transparent;
    .content {
        /* max-width: calc(100% - 16rem); */
        .nav-toolkit {
            >button {
                /* @apply backdrop-blur-md backdrop-contrast-125 backdrop-brightness-125; */
                @apply bg-white/50 text-black;
                @apply dark:bg-black/50 dark:text-white;
            }
        }
    }
}
.navigator.nav-top.nav-noheader {
    @apply text-gray-900;
    @apply dark:text-gray-100;
}
.navigator.nav-fix {
    @apply shadow-sm backdrop-blur-md bg-white/70 border-b border-gray-200;
    @apply dark:bg-gray-800/50 dark:border-gray-700;
}
.nav-menu-drawer {
    .profile {
        @apply shadow-none rounded-none border-0 overflow-hidden;
        @apply dark:bg-gray-900;
        .body {
            .author-info {
                .avatar {
                    @apply dark:ring-gray-900;
                }
            }
        }
    }

}