.navigator {
    @apply fixed w-full h-14 md:h-[3.75rem] z-40 translate-y-0 text-gray-900;
    @apply dark:text-gray-100;
    @apply transition-[color,transform] duration-[250ms];
    /* transition-property: top, height, background-color, color,
                         box-shadow, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms; */
    /* will-change: backdrop-filter; */
    &::before {
        content: "";
        @apply absolute inset-0 -z-10;
        @apply transition-transform duration-[250ms];
        @apply shadow-sm;
        @apply bg-white/80 border-b border-gray-200 dark:bg-gray-800/75 dark:border-gray-800;
        @apply backdrop-blur-md backdrop-saturate-150;
    }
    .content {
        @apply w-full lg:max-w-[63rem] xl:max-w-[67rem] 2xl:max-w-[71rem] mx-auto h-full flex flex-nowrap items-center;
        .nav-left-drawer, .nav-right-drawer {
            @apply block md:hidden;
            .drawer-toggle {
                @apply w-14 h-[3.75rem] text-xl;
            }
        }
        .nav-logo {
            @apply ml-0 px-2 lg:-ml-4 md:px-5;
            a {
                @apply flex flex-nowrap h-[3.75rem] leading-[4rem] items-center;
                img, svg {
                    @apply h-10;
                    fill: currentColor;
                }
                span, a, p {
                    @apply text-lg ml-2;
                }
            }
        }
        .nav-menu {
            @apply h-[3.75rem] flex-1;
            /* font-family: "Noto Serif SC", ui-serif, serif; */
            /* font-weight: bold; */
            .nav-menu-list {
                @apply hidden md:flex overflow-x-auto overflow-y-hidden;
                @apply flex-nowrap items-center;
                .nav-menu-item {
                    @apply relative flex-none;
                    >.link {
                        @apply relative block z-20 px-4 h-[3.75rem] text-base leading-[3.75rem];
                    }
                }
                .nav-menu-item::after {
                    content: "";
                    @apply absolute top-3 bottom-3 left-1 right-1;
                    @apply rounded-md;
                    @apply transition;
                }
                .nav-menu-item:hover::after,
                .nav-menu-item.nav-active::after {
                    @apply bg-black/10 dark:bg-white/10;
                    /* @apply absolute left-1 right-1 bottom-2.5;
                    @apply h-1 rounded-full; */
                    /* background: #20a0ff;
                    background: linear-gradient(#58B7FF 30%,#20a0ff 70%);
                    box-shadow: 0 3px 4px rgba(32,160,255,.6); */
                }
            }
        }
        .nav-toolkit {
            @apply mr-0 px-1 lg:-mr-4 md:px-5 space-x-0.5 md:space-x-2;
            >button {
                @apply w-9 h-9 md:w-10 md:h-10 rounded-full text-current outline-none bg-gray-400/30;
                @apply text-gray-900 dark:text-gray-100;
                @apply transition duration-[250ms];
                i {
                    @apply text-lg leading-9 md:leading-10;
                }
            }
        }
    }
}
.navigator.nav-hide {
    @apply md:-translate-y-[3.75rem];
}
.navigator.nav-top {
    @apply  text-gray-100;
    &::before {
        @apply -translate-y-[3.75rem];
    }
    .content {
        /* max-width: calc(100% - 16rem); */
        /* .nav-menu {
            .nav-menu-list {
                .nav-menu-item.nav-active::after {
                    @apply bg-white/10;
                }
            }
        } */
        .nav-logo {
            filter: drop-shadow(0 2px 2px rgba(0,0,0,.5));
        }
        .nav-menu {
            .nav-menu-list .nav-menu-item > .link {
                text-shadow: 0 2px 2px rgba(0,0,0,.5);
            }
        }
        .nav-toolkit {
            >button {
                /* @apply backdrop-blur-md backdrop-contrast-125 backdrop-brightness-125; */
                @apply bg-white/50 text-black;
                @apply dark:bg-black/50 dark:text-white;
            }
        }
    }
}
.navigator.nav-top.nav-noheader {
    @apply text-gray-900;
    @apply dark:text-gray-100;
    /* .nav-menu {
        .nav-menu-list {
            .nav-menu-item.nav-active::after {
                @apply bg-black/10 dark:bg-white/10;
            }
        }
    } */
}
.navigator.nav-fix {
    &::before {
        @apply translate-y-0
    }
}
.nav-menu-drawer {
    .profile {
        @apply shadow-none rounded-none border-0 overflow-hidden;
        @apply dark:bg-gray-900;
        .head {
            @apply h-32;
        }
        .body {
            .author-info {
                .avatar {
                    @apply dark:ring-gray-900;
                }
            }
        }
    }

}