#sidebar {
    @apply hidden md:block;
}
#sidebar ,#sidebar-drawer{
    @apply w-[17rem] flex-none;
    .sidebar-content {
        @apply top-0;
        & > .widget {
            @apply m-4;
        }
    }
    .tabs {
        @apply h-screen flex flex-col;
        transition-property: padding-top;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
        @apply dark:text-gray-200;
        .tabs-header {
            @apply m-4 flex-none mb-2 p-1 flex rounded-lg relative overflow-hidden bg-[#dbe1ee];
            /* box-shadow: 0 1px rgba(255, 255, 255, 0.5),
                0 8px 13px rgba(0, 0, 0, 0.15) inset; */
            @apply dark:bg-gray-800;
            .tab {
                @apply flex-auto text-sm font-bold p-1 z-10;
                @apply inline-flex justify-center;
                @apply cursor-pointer;
                i {
                    @apply font-normal mr-1;
                }
            }
            .glider {
                @apply absolute bg-white rounded shadow z-0;
                @apply dark:bg-gray-700;
            }
        }
        .tabs-content {
            @apply flex-auto relative overflow-hidden;
            .tab-panel {
                @apply absolute top-0 bottom-0 w-full overflow-auto;
                will-change: transform;
                /* FireFox Hide ScrollBar */
                scrollbar-width: none;
                /* CHrome Safari Hide ScrollBar */
                &::-webkit-scrollbar {
                    @apply hidden;
                }
            }
            #tab-panel-overview .tab-panel-content {
                /* @apply flex-none flex-col flex-nowrap; */
                .widget {
                    @apply mx-4 mt-0 mb-4;
                }
            }
            #tab-panel-toc .tab-panel-content {
                .widget {
                    @apply mx-4 mt-0 mb-4;
                }
            }
        }
    }
    .headblank {
        @apply pt-16;
    }
    .card {
        @apply bg-white rounded-xl shadow-lg overflow-hidden;
        @apply dark:bg-gray-800 dark:text-gray-300;
        .title {
            @apply relative text-2xl font-bold p-3 border-b border-gray-200;
            @apply dark:border-gray-700;
            &::after {
                content: " ";
                display: block;
                position: absolute;
                width: 40px;
                height: 11px;
                background: #fa7298;
                opacity: 0.25;
                pointer-events: none;
                border-radius: 15px;
                left: 0.6rem;
                bottom: 0.75rem;
            }
        }
    }
    .card-styleless {
        @apply dark:text-gray-300;
        .title {
            @apply relative text-2xl font-bold p-3;
            &::after {
                content: " ";
                display: block;
                position: absolute;
                width: 40px;
                height: 11px;
                background: #fa7298;
                opacity: 0.25;
                pointer-events: none;
                border-radius: 15px;
                left: 0.6rem;
                bottom: 0.75rem;
            }
        }
    }
}
